* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100vw;
}

:root {
    --primary-color: #001F3D;
    --secondary-color: #001021;
    --tertiary-color: #C2FFEC;
}

body {
    color: var(--tertiary-color);
    background-color: var(--primary-color);
    font-weight: normal;
    font-family: 'Lato', sans-serif;
}

header {
    padding: 50px 0px 25px 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    top: 0;
    background-color: var(--secondary-color);
    background-size: cover;
    background-position: center;
}

header h1 {
    font-weight: lighter;
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
    color: var(--tertiary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}

nav {
    padding: 20px;
    display: flex;
    background-color: var(--secondary-color);
    justify-content: center;
    position: sticky;
    top: 0;
}

nav a {
    text-decoration: none;
    color: var(--tertiary-color);
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

nav ul li a {
    margin: 10px 70px;
    font-weight: lighter;
    font-size: 1.45vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

iframe {
    padding: 10px 10px 10px 10px;
    max-width: 80%;
}

h2 {
    font-size: 40px;
    padding-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}



section {
display: flex;
flex-direction: column;
align-items: center;
padding: 3%;
}

h3 {
    padding-top: 18px;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
}

p {
    font-size: 20px;
    text-align: left;
    padding: 15px 30px 30px 30px;
    font-family: 'lato', sans-serif;
}

div {
    background-color: var(--secondary-color);
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
    
}

.about-me div {
    display: flex;
    align-items: center;
    background-color: var(--secondary-color);
    flex-direction: row;
    justify-content: space-evenly;
}
.about-me img {
    max-width: 30%;
    padding: 20px;
}

.about-me p {
    text-align: justify;
    line-height: 1.4;
    max-width: 40%;
}

.contact div {
    padding: 0 35% 0 35%;
}

.contact h2 {
    padding: 30px 0px 0px 0px;
}

@media screen and (max-width: 980px) {
    .about-me p {
        max-width: 50%;
    }

}

@media screen and (max-width: 768px) {
    .about-me p {
        max-width: 60%;
    }
    nav {
        position: relative;
    }
}

@media screen and (max-width: 575px) {
    nav {
        display: none;
        
    }

    p {
        text-align: center;
    }

    .about-me p {
        max-width: 80%;
        font-size: large;
        text-align: center;
    }
    
    .about-me img {
        max-width: 50%;
    }

    .contact div {
        padding: 10px 0px 5px 0px;
    }

    .contact h2 {
        font-size: xx-large;
        padding: 5px 0px 0px 0px;
    }

    .contact p {
        text-align: center;
    }

}