/* General Styles Start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #001F3D;
    --secondary-color: #001021;
    --tertiary-color: #C2FFEC;
    --fs-xl: clamp(2rem, 10vw, 5rem);
    --fs-nav: 1.5rem;
    --fs-subheading: 2.3rem;
    --fs-title: 1.5rem;
    --fs-400: 1.3rem;
    --heading-font: 'bebas neue', cursive;
    --body-font: 'lato', sans-serif;
}

body {
    color: var(--tertiary-color);
    background-color: var(--primary-color);
    font-family: var(--body-font)
}

p {
    margin: 10px 0;
    font-size: var(--fs-400);
    text-align: justify;
    font-family: var(--body-font);
    font-weight: lighter;
}
/* General Styles End */

/* Header Styles */
header {
    padding: 50px 0 30px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    top: 0;
    background-color: var(--secondary-color);
}

header h1 {
    font-size: var(--fs-xl);
    color: var(--tertiary-color);
    font-family: var(--heading-font);
    letter-spacing: .2em;
}
/* Header Styles End */

/* Navigation Bar Styles Start */
nav {
    background-color: var(--secondary-color);
    position: sticky;
    top: 0;
}

nav a {
    text-decoration: none;
    color: var(--tertiary-color);
    font-size: var(--fs-nav);
    font-family: var(--body-font);
    font-weight: lighter;
}

nav ul {
    padding: 15px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

/* Navigation Bar Styles End */

/* Text styles start */
h2 {
    font-family: var(--heading-font);
    font-size: var(--fs-subheading);
    letter-spacing: 0.15em;
    padding-top: 10px;
}

h3 {
    font-family: var(--body-font);
    font-size: var(--fs-title);
    font-weight: bold;
    letter-spacing: 0.05em;
    padding-bottom: 15px;
}
/* Text Styles End */

img {
    max-width: 30%;
    height: auto;
    padding: 2px;
    margin-left: 100px;
    outline: auto;
    outline-style: round;
    background: var(--tertiary-color);
}

/* Container Styles Start */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% auto;
    width: 70%;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin: 10px 10px;
    background-color: var(--secondary-color);
}

.web-dev iframe {
    border: solid 2px var(--tertiary-color);
    border-radius: 25px;
}
/* Container Styles End */

/* About me Styles start */
.about-me div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about-me p {
    text-align: justify;
    margin: 0px 5%;
    padding: 10px;
}
/* About me styles end */

/* Various Screen Sizes Styling */
@media screen and (max-width: 980px) {
    section {
        margin: 50px 100px;
    }
    .about-me p {
        margin: 0px 0px 0px 20px;
    }
    .about-me img {
        margin: 0;
        max-width: 40%;
    }
}

@media screen and (max-width: 768px) {
    header h1 {
        font-size: 3rem;
    }
    nav {
        position: relative;
    }

    .about-me p {
        margin-left: 10px;
    }
    
}

@media screen and (max-width: 575px) {
    section {
        margin: 20px;
    }
    div {
        padding: 10px;
    }

    nav a {
        font-size: 1.2rem;
    }

    .about-me div {
        flex-direction: column;
    }

    .about-me p {
        margin-left: 0;
    }

    h2 {
        text-align: center;
    }

    h3 {
        text-align: center;
    }

}